<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
	  <div class="blog-header">
		<h1 class="blog-title">{{ site.title }}</h1>
		<p class="lead blog-description">{{ site.tagline }}</p>
	  </div>
	  
		  <div class="row">
			<div class="col-sm-8 blog-main">
					  
				  {{ content }}
			</div> <!-- col-sm-8 blog-main -->
			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset">
				<h4>Little Text</h4>
				<p>{{ site.description }}</p>
				</div>
				<h3>Blog</h3>
				{% include blogs_ul.html %}
			</div>
          </div> <!-- row -->
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
