<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
	  <div class="blog-header">
		<h1 class="blog-title">{{ site.title }}</h1>
		<p class="lead blog-description">{{ site.short_description }}</p>
	  </div>
	  
		  <div class="row">
			<div class="col-sm-8 blog-main">
					  
				  {{ content }}
			</div> <!-- col-sm-8 blog-main -->
			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset">
				<h4>Little Text</h4>
				<p>Ada banyak variasi tulisan Lorem Ipsum yang tersedia, tapi kebanyakan sudah mengalami perubahan bentuk, entah karena unsur humor atau kalimat yang diacak hingga nampak sangat tidak masuk akal.</p>
				</div>
				<h3>Blog</h3>
				{% include blogs_ul.html %}
			</div>
          </div> <!-- row -->
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
